[Desktop Entry]
Name=dconf Editor
GenericName=dconf Editor
Comment=Directly edit your entire configuration database
Exec=dconf-editor
Terminal=false
Icon=dconf-editor
Type=Application
Categories=System;XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-OtherSettings;
Version=3.38.3
