[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/plr/Desktop/Packages]
row=0
col=17

[/home/plr/Desktop/Ftp]
row=0
col=15

[/home/plr/Desktop/Test Linux Applications List]
row=0
col=18

[/home/plr/Desktop/Android SSH]
row=0
col=16

[AEDAECF4DAECBA2B]
row=0
col=1

[Trash]
row=1
col=0

[/]
row=0
col=0

[/home/plr]
row=0
col=2

