[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/plr/Desktop/MY-DATA290822.7z]
row=0
col=10

[/home/plr/Desktop/Test Linux Applications List]
row=0
col=18

[/home/plr/Desktop/ssh information show script]
row=2
col=2

[/home/plr/Desktop/Today Tasks]
row=3
col=0

[/home/plr/Desktop/Termux Guide]
row=2
col=1

[/home/plr/Desktop/odpvec.zip.pcv]
row=1
col=13

[/home/plr/Desktop/Ftp]
row=2
col=0

[/home/plr/Desktop/MY-DATA280822]
row=0
col=11

[/home/plr/Desktop/Android SSH]
row=4
col=0

[AEDAECF4DAECBA2B]
row=0
col=1

[Trash]
row=1
col=0

[/]
row=0
col=0

[/home/plr]
row=0
col=2

