[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/plr/Desktop/Test Linux Applications List]
row=0
col=12

[/home/plr/Desktop/For Syncthing Main Server]
row=1
col=12

[AEDAECF4DAECBA2B]
row=0
col=1

[Trash]
row=1
col=0

[/]
row=0
col=0

[/home/plr]
row=0
col=3

